table {
    border-collapse: collapse;
    font-family: tahoma;
    font-size: 12px;
    width: 100%;
    /*  margin-left:20px; 
      margin-right:20px;*/
}

td ,th{
    padding: 3px 5px;
}

th{
    font-size: 12px;
    background-color: #cdf;
}

.header{
    text-align: center;
    margin-top: 0px;
}
.small_font_c{
    font-size: 10px;
    text-align: center;
}
.small_font_l{
    font-size: 10px;
    text-align: left;
}
.small_font_r{
    font-size: 10px;
    text-align: right;
}
#tableSell thead td{
    vertical-align: middle;
    font-style: normal;
    font-size: 12px; 
    text-align: center;
}
#tableSell tbody td{
    vertical-align: middle;
    font-style: normal;
    font-size: 10px; 
    text-align: center;
}
/*#tableSell tbody td:nth-child(4){
    vertical-align: middle;
    font-style: normal;
    font-size: 10px; 
    text-align: left;
}
#tableSell tbody td:nth-child(5){
    vertical-align: middle;
    font-style: normal;
    font-size: 10px; 
    text-align: right;
}*/